[submodule "TW-44279-submodule"]
	path = TW-44279-submodule
	url = https://github.com/ollven/TW-44279-submodule.git

[submodule "TW-44279"]
	path = TW-44279
	url = https://github.com/ollven/TW-44279-submodule.gi
